<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free resto catalogue for you">
  <meta name="theme-color" content="#DEA057"/>
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="/icons/icon-180x180.png">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <title>Firest Apps </title>
</head>
<body>
  <a href="#mainContent" class="skipContent" tabindex="0"> Skip to content</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>FIREST</h1>
    </div>
<nav id="navigationDrawer" class="app-bar__navigation">
  <ul>
      <li><a href="#/home">Home</a></li>
      <li><a href="#/favorite">Favorite</a></li>
      <li><a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/fivy-nur-safitri-308566214/">About Us</a></li>
  </ul>
</nav>
</header>
<div class="hero">
  <div class="inner-hero">
      <h1 class="title-hero">FIREST APPS</h1>
      <p class="subtitle-hero">Find a comfortable resto to healing or to get together with loved people</p>
  </div>
</div>
  <main>
    <div id="mainContent" class="mainContent__container" tabindex="0">
    </div>
  </main>
<footer tabindex="0">
  <p>Copyright © 2022 - FIREST APPS</p>
</footer>

</body>
</html>
